@import '../SCSS/variables';
@import '../SCSS/media-queries';

.section_contact {
    animation: fade-in 1s ease-out both 0.3s;
    -webkit-animation: fade-in 1s ease-out both 0.3s;
    -moz-animation: fade-in 1s ease-out both 0.3s;
    -o-animation: fade-in 1s ease-out both 0.3s;
}

.contact_banner {
    width: 90%;
    height: 70vh;
    margin: 2em auto;
    position: relative;
    border-bottom: 1px solid #000;
    padding-bottom: 1%;
}

.contact_img {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .contact_banner-h2 {
        position: absolute;
        font-size: 4em;
        color: white;
        top: 18%;
        left: 14%;
        text-shadow: 5px 4px 6px #000000b5;
    }
}

.contact_body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 7%;
}

.location_div,
.email_div,
.phone_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1% 3% 1% 0;
    align-items: center;
}

.location_div,
.email_div {
    border-right: 1px solid $main_color;
}

.contact_h3 {
    color: $accent_color;
    font-size: 1.7em;
    margin-bottom: 12px;
    letter-spacing: 2px;;
}

.contact_link {
    text-decoration: none;
    transition: all .2s ease;
    font-size: 1.4em;
    color: $main_color;
    font-weight: 500;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.contact_address-paragraph {
    font-size: 1.4em;
    line-height: 1.4;
    text-align: center;
    font-weight: 500;
    color: $main_color;
}

.contact_socialMedia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .social_h3 {
        font-size: 2em;
        margin-bottom: 1.5%;
    }
    .contact_socialMedia-img {
        color: $accent_color;
        font-size: 3em;
        margin: 0 1%;
          &:hover {
          cursor: pointer;
        }
    }
}

.contact_media-holder {
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

