$image-margin: 2em;

main {
    animation: fade-in 1s ease-out both 0.3s;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.about_banner {
    width: 100%;
    height: 80vh;
    margin: $image-margin auto;
    position: relative;
    border-bottom: 4px solid #000;
    padding-bottom: 1%;
    figure {
      position: absolute;
      width: 100%;
      height: 80vh;
      opacity: 0;
        &:nth-child(1) {
          animation: xfade 16s 12s infinite;
        }
        &:nth-child(2) {
          animation: xfade 16s 8s infinite;
        }
        &:nth-child(3) {
          animation: xfade 16s 4s infinite;
        }
        &:nth-child(4) {
          animation: xfade 16s 0s infinite;
        }
        .about_img {
            width: 100%;
            height: 80vh;
            background-size: cover;
            background-attachment: fixed;
            background-position: 50% 50%;
            background-repeat: no-repeat
        }
        figcaption {
          position: absolute;
          top: 0;
          color: #fff;
          background: rgba(0, 0, 0, 0.3);
          font-size: .8rem;
          padding: 5px 10px;
          opacity: 0;
          transition: opacity .5s;
        }
    }
      &:hover figure figcaption {
        transition: opacity .5s;
        opacity: 1;
      }
}

@keyframes xfade{
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

//temp size for all sections
.section_about-why,
.section_about-history,
.section_about-mission,
.section_about-testimonials {
    height: 400px;
}

.about_h2 {
    font-size: 2.2em;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 1%;
}

.about_paragraph {
    font-size: 1.5em;
    text-align: center;
}

.about_testimonials-ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-template-rows: auto;
    grid-gap: 3%;
    margin-bottom: 3%;
}

.testimonials_li {
    margin-bottom: 3%;
    font-size: 1.5em;
    background-color: #80808069;
    border-radius: 3px;
    box-shadow: 8px 8px 9px #000000a8;
    padding: 3%;
    min-height: 145px;
}



