@import '../SCSS/variables';
@import '../SCSS/media-queries';

header {
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
    box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
    font-size: 1rem;
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
    padding-bottom: 11%;
    @include xl {
        // padding-bottom: 22%;
    }
    @include lg {
        // padding-bottom: 24%;
    }
    @include md {
        // padding-bottom: 24%;
    }
    @include sm {
        padding-bottom: 0%;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
    @include xs {
        padding-bottom: 0%;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
}

.header_logo {
    padding: 3%;
    @include xl {
        padding: 0.5%;
        float: none;
    }
    @include lg {
        padding: 1%;
        float: none;
    }
    @include md {
        padding: 1%;
    }
    @include sm {
        padding: 1%;
    }
    @include xs {
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
    .nav_img {
        margin-top: 5px;
    }
    @include xl {
        padding: 2%;
    }
    @include lg {
        padding: 1%;
    }
}

.nav_logo-img {
    max-width: 20%;
    float: left;
    margin-right: 2%;
    border-radius: 3px;
    @include xl {
        max-width: 17%;
    }
    @include lg {
        width: 16%;
        margin-right: 1%;
    }
    @include md {
        width: 15%;
        margin-right: 1%;
    }
    @include sm {
        width: 21%;
        height: 21%;
        margin-left: 6%;
    }
    @include xs {
        width: 35%;
    }
}


h1 {
    font-size: 3.5em;
    color: #f48024;
    text-shadow: 0px 0px 5px #0f0600ab;
    @include lg {
        font-size: 3em;
    }
    @include md {
        font-size: 2.5em;
    }
    @include sm {
        font-size: 3em;
    }
    @include xs {
        font-size: 2em;
        margin-top: 3%;
    }
}

.nav_h2 {
    font-size: 1.8em;
    @include xl {
        font-size: 2em;
        text-align: justify;
    }
    @include lg {
        font-size: 1.8em;
        float: left;
    }
    @include md {
        font-size: 1.5em;
    }
    @include sm {
        font-size: 1.3em;
    }
    @include xs {
        font-size: 1em;
    }
}

.nav_banner {
    background-color: $main_color;
    height: 46px;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    .nav_banner-link {
        color: white;
        margin: 0 3%;
        font-weight: 700;
        text-decoration: none;
        @include xs {
            font-size: 0.8em;
        }
          &:hover {
              color: $accent_color;
          }
    }
    @include xl {
        font-size: 1.4em;
    }
    @include sm {
        width: 100%;
    }
}

.div_nav {
    float: right;
    margin-right: 1%;
    @include xl {
        // margin-right: 5%;
    }
    @include lg {
        // margin-right: 4%;
    }
    @include md {
        // margin-right: 5%;
    }
}

.all_navbar_links {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    .navbar_item {
        cursor: pointer;
        float: left;
        margin: 0 0 0 32px;
        transition: all .2s ease;
        @include md {
            margin: 0 0 0 12px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    @include xl {
        margin-top: 7%;
    }
    @include lg {
        margin: auto;
    }
    @include sm {
        margin: auto;
    }
    @include md {
        margin: 0 0 0 12px;
    }
}

a.navlink_normal,
a.navlink-is_active {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: $main_color;
    &:hover,
    &:active {
        color: $accent_color;
        border-bottom: 2px solid navy;
    }
    @include xl {
        font-size: 2.3em;
    }
    @include md {
        font-size: 1.5em;
    }
    @include sm {
        font-size: 1.3em;
    }
    @include xs {
        font-size: 1em;
    }
}

a.navlink_normal {
    border: none;
}

// a.navlink-is_active {
//     border-bottom: 2px solid navy;
// }