%flex_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

footer {
    background-color: navy;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-img {
    width: 25%;
}

.footer_links-holder,
.footer_socialMedia-holder {
    @extend %flex_display;
}

.footer_links-holder {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.footer_link {
    color: white;
    font-size: 1em;
    padding: 1.5%;
    width: 150px;
    margin: 2%;
      &:hover {
        cursor: pointer;
      }
}

.footer_socialMedia-img {
    color: white;
    font-size: 2em;
}